.down {
    position: relative;
    margin-top: 80px;
}
.image{
  height: 90px;
  width: 70px;
}

.image2{
  height: 100px;
  width: 80px;
}
.image1{

    position: relative;
    height: 35px;
    margin-left:auto;
    width: 70px;

}
.bg{
  background-: center;
  background: url(../img/backg.jpg) no-repeat;
  background-size: cover;
 background-position-x: center;
  filter: alpha(opacity=50);
}
body{
  background-image: url("../img/bg1.jpg");
  background-size: cover;
  background-position-x: center;
  filter: alpha(opacity=50);
}
